/.gradle/
/.gradle/configuration-cache/cbngny7vmeq10ks1esuvg880b/buildfingerprint.bin
/.gradle/configuration-cache/zzqe2sipeo7iebj7p0o0ksyp/buildfingerprint.bin
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/8.0/checksums/checksums.lock
/.gradle/configuration-cache/configuration-cache.lock
/build/reports/configuration-cache/33tukenl15naxtewz1l0reuky/l9pez0a0usz9lgnaz7x4fmgw/configuration-cache-report.html
/build/reports/configuration-cache/cbngny7vmeq10ks1esuvg880b/6m411u8nh0sbw7a5mfcwt8ryv/configuration-cache-report.html
/build/reports/configuration-cache/zzqe2sipeo7iebj7p0o0ksyp/bhjf7a64mbx5r0a11x3y8okdv/configuration-cache-report.html
/.gradle/8.0/dependencies-accessors/dependencies-accessors.lock
/.gradle/configuration-cache/33tukenl15naxtewz1l0reuky/entry.bin
/.gradle/configuration-cache/cbngny7vmeq10ks1esuvg880b/entry.bin
/.gradle/configuration-cache/zzqe2sipeo7iebj7p0o0ksyp/entry.bin
/.gradle/8.0/executionHistory/executionHistory.bin
/.gradle/8.0/executionHistory/executionHistory.lock
/.gradle/file-system.probe
/.gradle/8.0/fileHashes/fileHashes.bin
/.gradle/8.0/fileHashes/fileHashes.lock
/.gradle/8.0/dependencies-accessors/gc.properties
/.gradle/8.0/gc.properties
/.gradle/configuration-cache/gc.properties
/.gradle/vcs-1/gc.properties
/.gradle/kotlin/sessions/kotlin-compiler-2276820264989229341.salive
/.gradle/8.0/fileChanges/last-build.bin
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/configuration-cache/33tukenl15naxtewz1l0reuky/projectfingerprint.bin
/.gradle/configuration-cache/cbngny7vmeq10ks1esuvg880b/projectfingerprint.bin
/.gradle/configuration-cache/zzqe2sipeo7iebj7p0o0ksyp/projectfingerprint.bin
/.gradle/8.0/fileHashes/resourceHashesCache.bin
/.gradle/configuration-cache/33tukenl15naxtewz1l0reuky/work.bin
/.gradle/configuration-cache/cbngny7vmeq10ks1esuvg880b/work.bin
/.gradle/configuration-cache/zzqe2sipeo7iebj7p0o0ksyp/work.bin
/.idea/.name
/.gradle/kotlin/sessions/kotlin-compiler-6239611519771643574.salive
/.gradle/8.0/checksums/md5-checksums.bin
/.gradle/8.0/checksums/sha1-checksums.bin
/.idea/workspace.xml
/.idea/misc.xml
/.idea/gradle.xml
